@page "/"
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Billie Eilish album</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<header>
    <h1 class="subtitle">Billie Eilish</h1>
    <img src="img/Wwalczyszyn-Android-Style-Honeycomb-Music.48.png" alt="Logo" class="subtitle" />
</header>

<main>
    <section class="gallery">
        <div class="photo-card">
            <a href="https://open.spotify.com/album/0S0KGZnfBGSIssfF54WSJh?si=TcnEf9vsRxSjoKTFYj7w8w">
                <img src="img/Billie Eilish's Creepy, Crawly Pop.jpg" alt="Hit me hard and soft" class="img" />
                <h1 class="photo-description">Album "When We All Fall Asleep, Where Do We Go?"</h1>
            </a>
            <p>
                "When We All Fall Asleep, Where Do We Go?" to debiutancki album studyjny amerykańskiej piosenkarki Billie Eilish, który został wydany 29 marca 2019 roku.
                Album zdobył ogromne uznanie krytyków i odniósł komercyjny sukces.
                <ul>
                    <li>Nowatorskie podejście do popu</li>
                    <li>Produkowany przez brata Finneasa</li>
                    <li>Mroczne, intymne teksty</li>
                </ul>
                Popularne utwory:
                <ul>
                    <li>Bad Guy</li>
                    <li>Bury a Friend</li>
                    <li>When the Party's Over</li>
                </ul>
                Album zdobył kilka Grammy, w tym "Album roku".
            </p>
            <a href="https://en.wikipedia.org/wiki/When_We_All_Fall_Asleep,_Where_Do_We_Go%3F">Więcej</a>
        </div>

        <div class="photo-card">
            <a href="https://open.spotify.com/album/0JGOiO34nwfUdDrD612dOp?si=ajdD9O4cRkOKSnDR6Z81HA">
                <img src="img/happier than ever.jpg" alt="Happier Than Ever" class="img" />
                <h1 class="photo-description">Album "Happier Than Ever"</h1>
            </a>
            <p>
                "Happier Than Ever" to drugi album studyjny Billie Eilish, wydany 30 lipca 2021 roku.
                <ul>
                    <li>Tematy: miłość, ból, dorastanie</li>
                    <li>Klimat: od delikatnych ballad po mocniejsze utwory</li>
                    <li>Kulminacja: tytułowy utwór Happier Than Ever</li>
                </ul>
                Popularne utwory:
                <ul>
                    <li>Your Power</li>
                    <li>Therefore I Am</li>
                    <li>Lost Cause</li>
                </ul>
                Album pokazuje nową dojrzałość Billie.
                <a href="https://en.wikipedia.org/wiki/Happier_Than_Ever">Więcej</a>
            </p>
        </div>

        <div class="photo-card">
            <a href="https://open.spotify.com/album/7aJuG4TFXa2hmE4z1yxc3n?si=ZHI5d59cSzClzzpB2oPwig">
                <img src="img/Hit me hard and soft.jpg" alt="Hit Me Hard and Soft" class="img" />
                <h1 class="photo-description">Album "Hit Me Hard and Soft"</h1>
            </a>
            <p>
                Trzeci album Billie Eilish wydany 17 maja 2024 roku.
                <ul>
                    <li>10 utworów tworzących spójną historię</li>
                    <li>Motywy: miłość, strata, tożsamość</li>
                    <li>Podwodny klimat wizualny</li>
                </ul>
                Utwory:
                <ul>
                    <li>Lunch</li>
                    <li>Chihiro</li>
                    <li>Birds of a Feather</li>
                    <li>Blue</li>
                </ul>
                Billie nie wypuszczała singli przed premierą – chciała, aby album był słuchany jako całość.
            </p>
            <a href="https://en.wikipedia.org/wiki/Hit_Me_Hard_and_Soft">Więcej</a>
        </div>
    </section>
</main>

<footer>
    <div class="container">
        <div class="footer__content">
            <div class="footer__right">
                <div>Stack technologiczny:</div>
                <div class="footer__text">
                    Wykorzystane języki programowania: HTML + CSS
                </div>
            </div>
        </div>
        <div class="footer__divider"></div>
        <div class="footer__down">
            Projekt i realizacja: Danylo Melnyk (album 124779) &copy; 2025 Społeczna Akademia Nauk w Łodzi
        </div>
    </div>
</footer>
</html>